# dependencies
node_modules/
.venv/
__pycache__/
*.py[cod]

# build outputs
dist/
build/

# environment
.env
.env.local
.env.production.local

# logs
*.log
logs/

# editor
.idea/
.vscode/

# system
.DS_Store

# md docs
ARCHITECTURE.md
COMMAND_LINE_GUIDE.md
PROJECT_STRUCTURE.md
SERVER_MIGRATION_GUIDE.md
TECH_STACK_V1.md


